.bg-area{
  position: absolute;
  z-index: -99;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.bg-particle{
  position: absolute;
  width: clamp(40px, 4vw, 160px);
  //border: 1px solid red;
  
  &.move-right{
    animation: BgParticleMoveRight infinite 4s linear;
    
  }
  &.move-left{
    animation: BgParticleMoveLeft infinite 4s linear;

  }
}

@keyframes BgParticleMoveRight {
  0%{
    transform: translateX(0px);
    //opacity: 0;
  }
  100%{ transform: translateX(5vw);}
  /* 50%{
    transform: translateX(5vw);
  }
  100%{
    transform: translateX(0px);
    //opacity: 0;
  } */

}
@keyframes BgParticleMoveLeft {
  0%{
    transform: translateX(0px);
    //opacity: 0;
  }
  100%{ transform: translateX(-5vw);}
  /* 50%{
    transform: translateX(-5vw);
  }
  100%{
    transform: translateX(0px);
    //opacity: 0;
  } */

}