.bg-area{
  position: absolute;
  //z-index: -99;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.bg-particle{
  position: absolute;
  width: 5vw;
  
  animation: move infinite 15s linear;
}

@keyframes move {
  0%{
    transform: translateX(0);
    opacity: 1;
  }
  75%{
    opacity: 1;
  }
  100%{
    transform: translateX(1920px);
    opacity: 0;
  }

}