$dark: #5b3a2b;
$mid: #98633b;
$light: #b38553;
$green: #848679;
$white: #bec0bd;

@import url('https://fonts.googleapis.com/css2?family=Hurricane&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: $white;
}

body{
  background-color: $dark;

  header{
    height: 75px;
    outline: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .logo{
      height: 100%;
      width: 75px;
    }
    nav{
      margin-left: auto;
      padding: 10px 50px;
    }
  }
  main{

    #welcome-area{
      height: calc(100vh - 75px);
      display: flex;
      flex-direction: row;

      .left{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        *{
          padding-left: 10%;
        }
        h1{
          font-family: "Hurricane";
          font-size: 50px;
          font-weight: 200;
        }
        h2{
          font-size: 25px;
          font-weight: 400;
        }
        
      }
      .right{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
          width: 70%;
          height: 100%;
          object-fit: cover;
          object-position: left;
          
          border-radius: 50% 20% 50% 20%;
          box-shadow: 8px 8px $white;
        }
      }
    }
  }
  footer{
    height: 500px;
  }
}