@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import "./utilities";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: #000;
  font-family: "Roboto", sans-serif;
  border: none;
  text-shadow: none;
  outline: none;
}
body{
  background-color: $bg;
}
a.primary{
  background-color: $salmon-vivid;
  padding: 0.4em 2em;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.04em;
  font-size: 0.9em;
  border-radius: 5px;
}

h1.section{
  color: rgba($color: #000000, $alpha: 0.05);
  font-size: 2em;
  letter-spacing: 0.1em;
  text-align: center;
  padding: 0.8em 0 0.4em 0;
}

h1.article{
  font-size: 1.6em;
  font-family: "Josefin Slab";
  text-align: center;
  margin: 1em 0 0.4em 0;
  height: min-content;
}

button.info{
  width: 20px;
  height: 20px;
  border-radius: 1000px;
  font-family: "Roboto", serif;
  font-size: 16px;
  font-weight: 900;
  font-family: black;

}