html {
  font-size: 14px;
}

html body {
  background-color: #FAF7FF;
}

html body header {
  border-bottom: 1px solid rgba(148, 96, 230, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 35px;
}

html body header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5%;
}

html body header .logo img {
  height: 100%;
}

html body header .logo h1 {
  font-family: "Josefin Slab", serif;
  color: #925EE6;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 16px;
  white-space: nowrap;
}

html body header nav {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  gap: 5vw;
}

html body header nav a {
  color: #FF5F1B;
  font-variant: small-caps;
  font-size: 1em;
}

html body main section#hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: calc(100vh - 35px);
}

html body main section#hero h1 {
  margin: 20% 0 5%;
  color: #222;
  width: 70%;
  font-weight: 700;
  font-size: 1.8em;
  line-height: 1em;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

html body main section#hero svg {
  height: 30vh;
  margin: 0 0 0 auto;
}

html body main section#hero p {
  font-family: "Josefin Slab", serif;
  font-size: 1em;
  width: 90%;
  line-height: 1.5em;
  margin: 10% 0;
}

html body main section#hero p span {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: #FF5F1B;
}

html body main section#hero p span:last-child {
  color: #925EE6;
}

html body main section#hero a {
  -ms-grid-column-align: center;
      justify-self: center;
  margin: auto;
}

html body main section#portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
}

html body main section#portfolio article {
  height: 500px;
  background-color: #FF9266;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body main section#portfolio article iframe {
  width: 80%;
  height: 80%;
  -ms-grid-column-align: center;
      justify-self: center;
  margin: 0 auto;
  border: 7px solid #FEA47F;
  border-radius: 30px;
}

html body main section#portfolio article:nth-child(even) {
  border-radius: 0 100px 50px 0;
  margin-right: 10px;
  margin-bottom: 10px;
}

html body main section#portfolio article:nth-child(odd) {
  border-radius: 100px 0px 0px 50px;
  margin-left: 10px;
  margin-bottom: 10px;
}

html body main section#portfolio a {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 1em 0 2em;
}

html body main section#services {
  background-color: #BF99FF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  padding-bottom: 70px;
  border-radius: 0 0 60px 60px;
}

html body main section#services > h1 {
  color: rgba(255, 255, 255, 0.2);
}

html body main section#services article {
  background-color: #fff;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html body main section#services article img {
  height: 40px;
  -webkit-transform: translateY(-35%);
          transform: translateY(-35%);
}

html body main section#services article h1 {
  padding: 10px 0 20px 0;
  font-size: 1.5em;
  color: #FF5F1B;
}

html body main section#services article p {
  padding: 10px 20px 30px;
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 300;
}

html body main section#services article ul {
  padding-left: 20px;
  width: calc(100% - 40px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2em;
}

html body main section#services article ul li {
  line-height: 1.5em;
  color: #555;
}

html body main section#services article a {
  margin: auto 0px 3em;
}

html body main section#about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 0 0 50px 50px;
  background-color: #FAF7FF;
  z-index: 5;
  position: relative;
  top: 50px;
}

html body main section#about > img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px;
  height: 65vh;
}

html body main section#about article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

html body main section#about article h1 {
  padding: 20px 0 10px 10px;
}

html body main section#about article.info p {
  background-color: #FFEDE7;
  padding: 30px 10px;
  font-weight: 300;
  line-height: 1.6em;
  border-radius: 30px;
}

html body main section#about article.programs ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #FFEDE7;
  padding: 20px 10px;
  border-radius: 20px;
  gap: 20px;
  overflow-x: scroll;
  width: 100%;
}

html body main section#about article.programs ul img {
  display: inline-block;
  height: 50px;
}

html body main section#about a {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 2em 0 4em;
}

html body main section#contact {
  background-color: #533781;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 20px;
  position: relative;
  z-index: 4;
  padding-top: 100px;
}

html body main section#contact > h1 {
  color: rgba(255, 255, 255, 0.1);
}

html body main section#contact article {
  border-radius: 30px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 300px;
}

html body main section#contact article h1 {
  color: rgba(255, 255, 255, 0.2);
  font-size: 1.4em;
  font-weight: 500;
  font-family: "Josefin Slab", serif;
  padding: 0.3em 0;
  margin-bottom: 1em;
}

html body main section#contact article h1::before {
  content: "";
  background: -webkit-gradient(linear, left top, right top, from(salmon), to(transparent));
  background: linear-gradient(to right, salmon, transparent);
  opacity: 0.7;
  border-radius: 5000px;
  -webkit-transform: translate(0, -5px);
          transform: translate(0, -5px);
  width: 40px;
  height: 2px;
  display: block;
  position: absolute;
}

html body main section#contact article ul {
  list-style-type: none;
}

html body main section#contact article ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.8em;
  margin-bottom: 0.6em;
}

html body main section#contact article ul li img {
  width: 1.6em;
}

html body main section#contact article ul li span {
  color: #fff;
  font-size: 1em;
  letter-spacing: 0.02em;
}

html body main section#contact article ul li span span {
  padding-right: 2px;
}

html body footer {
  background-color: #291051;
  width: 100%;
  height: clamp(200px, -webkit-max-content, 500px);
  height: clamp(200px, -moz-max-content, 500px);
  height: clamp(200px, max-content, 500px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html body footer button.thanks {
  background: transparent;
  font-family: "Josefin Slab", serif;
  color: #FEA47F;
  font-size: 1.2em;
  -webkit-text-decoration: underline 1px;
          text-decoration: underline 1px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media screen and (min-width: 400px) {
  html {
    font-size: 16px;
  }
  html body main section#hero h1 {
    font-size: 3em;
  }
  html body main section#portfolio article:nth-child(even) {
    margin-right: 20px;
    margin-bottom: 20px;
  }
  html body main section#portfolio article:nth-child(odd) {
    margin-left: 20px;
    margin-bottom: 20px;
  }
  html body main section#services article {
    width: 300px;
  }
}

@media screen and (min-width: 800px) {
  html body header {
    height: 50px;
  }
  html body header .logo h1 {
    font-size: 20px;
  }
  html body header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  html body main section#portfolio article:nth-child(even) {
    margin-right: 40px;
    margin-bottom: 40px;
  }
  html body main section#portfolio article:nth-child(odd) {
    margin-left: 40px;
    margin-bottom: 40px;
  }
  html body main section#services {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  html body main section#services article {
    height: 450px;
  }
}

@media screen and (min-width: 1400px) {
  html body main section#portfolio article:nth-child(even) {
    margin-right: 150px;
    margin-bottom: 150px;
  }
  html body main section#portfolio article:nth-child(odd) {
    margin-left: 150px;
    margin-bottom: 150px;
  }
}
/*# sourceMappingURL=index.css.map */