@import "./utilities";


html{
  font-size: 14px;

  body{
    background-color: $bg;
    
    header{
      border-bottom: 1px solid $header-border;
      display: flex;
      height: 5vh;
      .logo{
        display: flex;
        align-items: center;
        gap: 5%;
        img{
          height: 90%;
        }
        h1{
          font-family: "Josefin Slab", serif;
          color: $purple;
          width: max-content;
          font-size: 2vh;
          white-space: nowrap;
        }
      }
      nav{
        display: none;
        /*
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: 10%;
        gap: 2vw;
        a{
          color: $salmon-vivid;
          font-variant: small-caps;
          font-size: 1em;
        }
        */
      }
    }
    main{

      section.hero{
        display: flex;
        flex-direction: column;

        height: 95vh;
        h1{
          margin: 20% 0 5%;
          color: #222;
          width: 70%;
          font-weight: 700;
          font-size: 1.8em;
          line-height: 1em;
          height: min-content;
        }
        svg{
          width: 80%;
          opacity: 0.8;
          margin: 0 0 0 auto;
        }
        p{
          font-family: "Josefin Slab", serif;
          font-size: 1em;
          width: 90%;
          line-height: 1.5em;
          margin: 10% 0;
          span{
            font-size: inherit;
            font-family: inherit;
            font-weight: inherit;
            color: $salmon-vivid;
            &:last-child{
              color: $purple;
            }
          }
        }
        a{
          justify-self: center;
          margin: auto;
        }
      }
      section#portfolio{
        display: flex;
        flex-direction: column;
        padding: 0;
        article{
          height: 500px;
          background-color: $salmon-bg;
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: center;
          
          iframe{
            width: 80%;
            height: 80%;
            justify-self: center;
            margin: 0 auto;
            border: 7px solid $salmon-border;
            border-radius: 30px;
          }
          &:nth-child(even){
            border-radius: 0 100px 50px 0;
            margin-right: 10px;
            margin-bottom: 10px;
          }
          &:nth-child(odd){
            border-radius: 100px 0px 0px 50px;
            margin-left: 10px;
            margin-bottom: 10px;
          }
          
        }

        a{
          align-self: center;
          margin: 1em 0 2em;
        }
      }
      section#services{
        background-color: $services-bg;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        padding-bottom: 70px;
        border-radius: 0 0 60px 60px;
        & > h1{
          color: rgba($color: #fff, $alpha: 0.2);
        }
        article{
          background-color: $service-bg;
          
          border-radius: 30px;
          display: flex;
          align-items: center;
          flex-direction: column;
          img{
            height: 40px;
            transform: translateY(-35%);
          }
          h1{
            padding: 10px 0 20px 0;
            font-size: 1.5em;
            color: $salmon-vivid;
          }
          p{
            padding: 10px 20px 30px;
            font-size: 1em;
            line-height: 1.5em;
            font-weight: 300;
          }
          ul{
            padding-left: 20px;
            width: calc(100% - 40px);
            display: flex;
            flex-direction: column;
            margin-bottom: 2em;
            li{
              line-height: 1.5em;
              color: #555;
            }
          }
          a{
            margin: auto 0px 3em;
          }
        }
      }
      section#about{
        display: flex;
        flex-direction: column;
        border-radius: 0 0 50px 50px;
        background-color: $bg;
        z-index: 5;
        position: relative;
        top: 50px;
        & > img{
          object-fit: cover;
          border-radius: 30px;
          height: 65vh;
        }

        article{
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          h1{
            padding: 20px 0 10px 10px;
          }
          &.info{

            p{
              background-color: $salmon-bg-light;
              padding: 30px 10px;
              font-weight: 300;
              line-height: 1.6em;
              border-radius: 30px;
            }
          }

          &.programs{

            ul{
              list-style-type: none;
              display: flex;
              flex-direction: row;
              background-color: $salmon-bg-light;
              padding: 20px 10px;
              border-radius: 20px;
              gap: 20px;
              overflow-x: scroll;
              width: 100%;
              li{
                
              }
              img{
                display: inline-block;
                height: 50px;
              }
            }
          }
        }
        a{
          align-self: center;
          margin: 2em 0 4em;
        }
      }
      section#contact{
        background-color: $contact-bg;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        z-index: 4;
        padding-top: 100px;
        
        & > h1{
          color: rgba($color: #fff, $alpha: 0.1);
        }
        article{
          background-color: $contact-article-bg;
          border-radius: 30px;
          color: white;
          padding: 15px 15px 30px 15px;
          margin: 1em 0;
          max-width: 300px;
          width: calc(100% - 20px);
          h1{
            color: rgb(255, 255, 148);
            font-size: 1.5em;
            font-weight: 500;
            padding: 0.3em 0 1em;
          }
          ul{
            list-style-type: none;
            
            li{
              display: flex;
              align-items: center;
              gap: 0.8em;
              margin-bottom: 0.6em;
              img{
                width: 1.6em;
              }
              span{
                color: #fff;
                font-size: 0.9em;
                span{
                  padding-right: 2px;
                }
              }
            }
          }
        }

      }
    }
    footer{
      background-color: $contact-article-bg;
      width: 100%;
      height: clamp(200px, max-content, 500px);
      display: flex;
      flex-direction: column;
      
      button.thanks{
        background: transparent;
        font-family: "Josefin Slab", serif;
        color: $salmon;
        font-size: 1.2em;
        text-decoration: underline 1px;
        align-self: flex-end;
      }
    }
  }
}

@media screen and (min-width: 400px){
  html{
    font-size: 16px;

    body{
      main{
        section#portfolio{
          article{
            &:nth-child(even){
              margin-right: 20px;
              margin-bottom: 20px;
            }
            &:nth-child(odd){
              margin-left: 20px;
              margin-bottom: 20px;
            }
          }
        }
        section#services{
          article{
            width: 300px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 800px) {
  html{
    body{
      main{
        section#portfolio{
          article{
            &:nth-child(even){
              margin-right: 40px;
              margin-bottom: 40px;
            }
            &:nth-child(odd){
              margin-left: 40px;
              margin-bottom: 40px;
            }
          }
        }
        section#services{
          flex-direction: row;
          flex-wrap: wrap;
          article{
            height: 450px;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1400px) {
  html{
    body{
      main{
        section#portfolio{
          article{
            &:nth-child(even){
              margin-right: 150px;
              margin-bottom: 150px;
            }
            &:nth-child(odd){
              margin-left: 150px;
              margin-bottom: 150px;
            }
          }
        }
      }
    }
  }
}