@import "./utilities";

html {
  font-size: 14px;

  body {
    background-color: $bg;

    header {
      //border-bottom: 1px solid $header-border;
      display: flex;
      height: clamp(35px, 7vmin, 100px);
      position: fixed;
      width: 100%;
      z-index: 9999;
      background: linear-gradient(to right, $bg 30%, transparent 40%, transparent 60%, $bg 70%);
      backdrop-filter: blur(6px);

      .logo {
        display: flex;
        align-items: center;
        gap: 2%;
        img,
        svg {
          height: 100%;
        }
        h1 {
          font-family: "Josefin Slab", serif;
          color: $purple;
          width: max-content;
          font-size: clamp(1rem, 3vmin, 2.4rem);
          white-space: nowrap;
        }
      }
      nav {
        display: none; //flex over 800px viewport width
        align-items: center;
        margin-left: auto;
        gap: 3vw;
        a {
          color: #111;
          //font-variant:small-caps;
          //text-transform: lowercase;
          font-size: clamp(1rem, 1.5vmin, 2rem);
          line-height: clamp(1rem, 1.5vmin, 2rem);
          font-weight: 600;
          display: flex;
          vertical-align: middle;
          align-items: center;
          flex-direction: row;
          //outline: 1px cyan solid;

          &::before {
            content: "";
            display: block;
            position: absolute;
            background-color: $purple;
            width: 2px;
            height: 1em;
            border-radius: .5em;
            z-index: -1;
            transform: translateX(-0.25em);
            transition: 0.5s;
          }
          &.active {
            //color: $salmon-vivid;
            color: white;
            font-weight: 700;
            &::before {
              width: calc(100% + 2em);
              height: calc(100% + 1em);
              transform: translateX(-1em);
              opacity: 1;
            }
          }
        }
      }

      /*  &.scrolled{
        background-color: hsl(266, 100%, 95%);
        border-bottom-color: transparent;
        .logo{
          svg{
            path{
              //stroke: #fff;
            }
          }
          h1{
            //color: #fff;
          }
          
        }
        nav{
          a{
            //color: #000;
            //color: #fff;
          }

        }
      } */
    }
    main {
      section#hero {
        height: 100vh;
        padding-top: 50px;
        gap: 5vh;
        display: grid;
        align-content: center;
        justify-content: center;
        align-items: center;
        justify-content: center;
        vertical-align: middle;
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas:
          "head head head head head ...."
          ".... img  img  img  img  img "
          "text text text text text text"
          "link link link link link link";

        h1 {
          grid-area: head;
          color: #222;
          font-weight: 700;
          font-size: 1.8rem;
          line-height: 1em;
          align-self: end;
        }
        > svg {
          grid-area: img;
          align-self: end;
        }
        p {
          grid-area: text;
          //font-family: "Josefin Slab", serif;
          font-size: clamp(1rem, 1vmax, 1.6rem);
          font-weight: 300;
          line-height: 1.5em;
          align-self: center;
          max-width: 700px;
          span {
            font-size: inherit;
            font-family: inherit;
            font-weight: inherit;
            color: $salmon-vivid;
            &:last-child {
              color: $purple;
            }
          }
        }
        a {
          grid-area: link;
          justify-self: center;
          align-self: end;
          margin: auto;
          min-width: 0;
          min-height: 0;
          width: max-content;
          font-size: clamp(1rem, 2vh,5rem);
        }
      }
      section#portfolio {
        display: flex;
        flex-direction: column;
        padding: 0;
        background-color: transparent;
        article {
          height: 500px;
          background-color: $salmon-bg;
          position: relative;
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          padding-bottom: 30px;
          > h1 {
            width: 100%;
            a {
              font-family: inherit;
              font-size: inherit;
              font-weight: inherit;
            }
          }
          iframe,
          .extract {
            border-radius: 30px;
            border: 7px solid $salmon-border;
          }
          iframe {
            width: 80%;
            max-width: 500px;
            height: 80%;
            align-self: center;
            justify-self: center;
            margin: 0 auto;
          }
          .extract {
            display: none;
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            flex-wrap: wrap;
            align-items: flex-start;
            background-color: $salmon-bg-light;
            border-radius: 0;
            padding: 20px;
            h1 {
              width: 100%;
              margin-bottom: 1em;
              font-family: "Josefin Slab";
              font-size: 1.5rem;
            }
            p {
              width: 75%;
              align-self: flex-start;
              line-height: 1.5em;
            }
            a {
              display: flex;
              align-items: center;
              width: max-content;
              align-self: flex-end;
              margin-right: 2em;
              gap: 0.6em;
              img {
                height: 1.4rem;
              }
              span {
                font-size: 0.85rem;
              }
            }
          }
          &:nth-child(even) {
            border-radius: 0 100px 50px 0;
            margin-right: 10px;
            margin-bottom: 10px;
          }
          &:nth-child(odd) {
            border-radius: 100px 0px 0px 50px;
            margin-left: 10px;
            margin-bottom: 10px;
          }
        }

        a {
          align-self: center;
          margin: 1em 0 2em;
        }
      }
      section#services {
        background-color: $services-bg;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        padding-bottom: 70px;
        border-radius: 0 0 60px 60px;
        & > h1 {
          color: rgba($color: #fff, $alpha: 0.2);
        }
        article {
          background-color: $service-bg;

          border-radius: 30px;
          display: flex;
          align-items: center;
          flex-direction: column;
          img {
            height: 40px;
            transform: translateY(-35%);
          }
          h1 {
            padding: 10px 0 20px 0;
            font-size: 1.5rem;
            color: $salmon-vivid;
          }
          p {
            padding: 10px 20px 30px;
            font-size: 1rem;
            line-height: 1.5em;
            font-weight: 300;
          }
          ul {
            padding-left: 20px;
            width: calc(100% - 40px);
            display: flex;
            flex-direction: column;
            margin-bottom: 2em;
            li {
              line-height: 1.5em;
              color: #555;
            }
          }
          a {
            margin: auto 0px 3em;
          }
        }
      }
      section#about {
        display: grid;
        justify-content: center;
        justify-items: center;
        align-items: center;

        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
          " head head "
          " img  img  "
          " info info "
          " prog prog "
          " butt butt ";
        gap: 40px;

        border-radius: 0 0 50px 50px;
        background-color: $bg;
       
        padding-bottom: 70px;
        & > h1 {
          grid-area: head;
        }
        & > img {
          grid-area: img;
          object-fit: cover;
          border-radius: 30px;
          //height: 65vh;
          width: 100%;
          max-width: 400px;
        }

        article {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          width: 100%;
          max-width: 400px;
          h1 {
            grid-area: head;
            padding: 0 0 10px 10px;
          }
          &.info {
            grid-area: info;
            p {
              background-color: $salmon-bg-light;
              border-radius: 30px;
              padding: 30px 10px;
              font-weight: 300;
              line-height: 1.6em;

              span {
                opacity: 0.65;
                display: block;
                margin-top: 1em;
              }
            }
          }

          &.programs {
            grid-area: prog;

            ul {
              list-style-type: none;
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: space-between;
              background-color: $salmon-bg-light;
              padding: 20px 10px;
              border-radius: 20px;
              gap: 20px;
              overflow-x: auto;
              width: 100%;
              li {
              }
              img {
                display: inline-block;
                height: 50px;
              }
            }
          }
          &.certificates {
            grid-area: cert;
            display: none;
            .container {
              background-color: #876db2;
              border-radius: 30px;
              width: 100%;
              overflow-x: auto;
              &::-webkit-scrollbar {
                width: 10px;
              }
              ul {
                list-style-type: none;
                padding: 30px;
                width: max-content;
                display: flex;
                flex-direction: row;
                gap: 20px;

                li {
                  height: 250px;
                  //border: 7px solid rgba($salmon-border, $alpha: 0.4);
                  border-radius: 10px;
                  a {
                    height: 100%;
                    width: 100%;
                    img {
                      object-fit: cover;
                    }
                  }
                }
              }
            }
          }
        }
        a {
          grid-area: butt;
          align-self: center;
          margin: 2em 0 4em;
        }
      }
      section#contact {
        background-color: $contact-bg;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
        border-radius: 50px 50px 0 0;
        //padding-top: 50px;
        padding-bottom: 50px;

        & > h1 {
          color: rgba($color: #fff, $alpha: 0.1);
        }
        article {
          color: white;
          padding-left: 10px;
          display: flex;
          flex-direction: column;
          width: 100%;
          max-width: 300px;
          border-left: 1px solid rgba($color: #fff, $alpha: 0.07);
          h1 {
            color: rgba(255, 255, 255, 0.25);
            font-size: 0.7rem;
            letter-spacing: 0.4em;
            font-variant: small-caps;
            font-weight: 500;
            //font-family: "Josefin Slab", serif;
            padding-bottom: 0.3em;
            margin-bottom: 1em;
            //display: none;

            &::before {
              content: "";
              background: linear-gradient(to right, salmon, transparent);
              opacity: 0.3;
              border-radius: 5000px;
              transform: translate(0, 1.2em);
              width: 80px;
              height: 2px;
              display: block;
              position: absolute;
            }
          }
          ul {
            list-style-type: none;

            li {
              display: flex;
              align-items: center;
              margin-bottom: 0.6em;
              a {
                display: flex;
                align-items: center;
                gap: 0.8em;
              }
              img {
                width: 1.6em;
              }
              span {
                color: #fff;
                &:not(.material-icons) {
                  font-size: 0.8rem;
                  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
                }
                div {
                  display: inline-block;
                  padding-right: 2px;
                  font-size: inherit;
                  color: inherit;
                  font-family: inherit;
                }
              }
            }
          }
        }
      }
    }
    footer {
      background-color: $contact-article-bg;
      width: 100%;
      height: clamp(200px, 20vh, 500px);
      display: flex;
      flex-direction: column;

      button.thanks {
        background: transparent;
        font-family: "Josefin Slab", serif;
        color: $salmon;
        font-size: 1.2rem;
        text-decoration: underline 1px;
        align-self: flex-end;
      }
    }
  }
}

@media screen and (min-width: 400px) {
  html {
    font-size: 16px;

    body {
      main {
        section#hero {
          h1 {
            font-size: 3rem;
          }
        }
        section#portfolio {
          article {
            &:nth-child(even) {
              margin-right: 20px;
              margin-bottom: 20px;
            }
            &:nth-child(odd) {
              margin-left: 20px;
              margin-bottom: 20px;
            }
          }
        }
        section#services {
          article {
            width: 300px;
          }
        }
        section#about {
          article {
            &.info {
              h1 {
                padding-left: 1.6em;
              }
              p {
                padding: 2em;
              }
            }
            &.programs {
              h1 {
                padding-left: 1.7em;
              }
              ul {
                padding-left: 2em;
              }
            }
            &.certificates {
              h1 {
                padding-left: 1.7em;
              }
              ul {
                padding-left: 2em;
              }
            }
          }
        }
        section#contact {
        }
      }
    }
  }
}
@media screen and (min-width: 800px) and (orientation: landscape) {
  html {
    body {
      header {
        .logo {
        }
        nav {
          display: flex;
        }
      }
      main {
        section#hero {
          justify-content: start;
          justify-items: start;
          align-content: start;
          align-items: start;
          padding-top: 100px;

          grid-template-rows: repeat(3, minmax(1fr));
          grid-template-areas:
           // "head head head img  img  img "

            "head head head img  img  img "
            "text text text img  img  img"
            "link link link img  img  img ";
          h1 {
          }
          svg {
            //align-self: center;
          }
          a {
            justify-self: start;
            margin: unset;
          }
        }
        section#portfolio {
          article {
            justify-content: space-evenly;
            align-items: center;
            padding-bottom: unset;
            > h1 {
              width: 100%;
              text-align: center;
              display: none;
            }
            .info {
              display: none;
            }
            iframe {
              max-width: 45%;
              height: 80%;
            }
            .extract {
              display: flex;
              position: static;
              top: unset;
              left: unset;
              max-width: 45%;
              height: 80%;

              border-radius: 100px;
            }
            &:nth-child(even) {
              margin-right: 40px;
              margin-bottom: 40px;
              border-top-right-radius: 1000px;
              border-bottom-right-radius: 300px;
              iframe {
                justify-self: flex-start;
              }
              .extract {
                border-top-right-radius: 1000px;
                border-bottom-right-radius: 300px;
              }
            }
            &:nth-child(odd) {
              margin-left: 40px;
              margin-bottom: 40px;
              border-top-left-radius: 1000px;
              border-bottom-left-radius: 300px;
              iframe {
                order: 4;
              }
              .extract {
                border-top-left-radius: 1000px;
                border-bottom-left-radius: 300px;
                justify-content: flex-end;
                h1 {
                  text-align: end;
                }
                p {
                  text-align: end;
                }
              }
              .extract {
              }
            }
          }
        }
        section#services {
          flex-direction: row;
          flex-wrap: wrap;
          article {
            height: 450px;
          }
        }
        section#contact {
          flex-direction: row;
          flex-wrap: wrap;
          align-items: flex-start;
          justify-content: space-evenly;
          article {
            width: max-content;
          }
        }
        section#about {
          grid-template-areas:
            " head head "
            " img  info "
            " prog prog "
            " cert cert ";
          & > img {
            height: 100%;
            justify-self: end;
          }
          article {
            &.info {
              justify-self: start;
            }
            &.programs,
            &.certificates {
              width: 840px;
              max-width: 100%;
            }
            &.certificates {
              display: flex;
            }
          }
          & > a {
            display: none;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1400px) {
  html {
    body {
      main {
        section#hero {
          padding-top: 20vh;

          h1 {
            font-size: 4rem;
          }
          > svg {
            align-self: end;
            position: relative;
            left: 50px;
          }
        }
        section#portfolio {
          article {
            &:nth-child(even) {
              margin-right: 150px;
              margin-bottom: 150px;
            }
            &:nth-child(odd) {
              margin-left: 150px;
              margin-bottom: 150px;
            }
          }
        }
        section#about {
          gap: 50px;
          > img {
            max-width: 500px;
          }
          article {
            h1 {
              padding-left: 70px;
            }
            &.info {
              max-width: 500px;
              p {
              }
            }
            &.programs,
            &.certificates {
              width: 1050px;
            }
          }
        }
      }
    }
  }
}
