html {
  font-size: 14px;
}

html body {
  background-color: #FAF7FF;
}

html body header {
  border-bottom: 1px solid rgba(148, 96, 230, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 35px;
  position: fixed;
  width: 100%;
  z-index: 9999;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  /*  &.scrolled{
        background-color: hsl(266, 100%, 95%);
        border-bottom-color: transparent;
        .logo{
          svg{
            path{
              //stroke: #fff;
            }
          }
          h1{
            //color: #fff;
          }
          
        }
        nav{
          a{
            //color: #000;
            //color: #fff;
          }

        }
      } */
}

html body header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2%;
}

html body header .logo img, html body header .logo svg {
  height: 100%;
}

html body header .logo h1 {
  font-family: "Josefin Slab", serif;
  color: #925EE6;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 16px;
  white-space: nowrap;
}

html body header nav {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  gap: 3vw;
}

html body header nav a {
  color: #FF5F1B;
  font-variant: small-caps;
  font-size: 1rem;
}

html body main section#hero {
  height: 100vh;
  padding-top: 50px;
  gap: 5vh;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-content: center;
  vertical-align: middle;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
      grid-template-areas: "head head head head head ...." ".... img  img  img  img  img " "text text text text text ...." ".... link link link link ....";
}

html body main section#hero h1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: head;
  color: #222;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 1em;
  -ms-flex-item-align: end;
      align-self: end;
}

html body main section#hero svg {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: img;
  -ms-flex-item-align: end;
      align-self: end;
}

html body main section#hero p {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: text;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  max-width: 400px;
}

html body main section#hero p span {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: #FF5F1B;
}

html body main section#hero p span:last-child {
  color: #925EE6;
}

html body main section#hero a {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-area: link;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  margin: auto;
  min-width: 0;
  min-height: 0;
}

html body main section#portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  background-color: transparent;
}

html body main section#portfolio article {
  height: 500px;
  background-color: #FF9266;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 30px;
}

html body main section#portfolio article > h1 {
  width: 100%;
}

html body main section#portfolio article > h1 a {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

html body main section#portfolio article iframe,
html body main section#portfolio article .extract {
  border-radius: 30px;
  border: 7px solid #FEA47F;
}

html body main section#portfolio article iframe {
  width: 80%;
  max-width: 500px;
  height: 80%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  margin: 0 auto;
}

html body main section#portfolio article .extract {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #FFEDE7;
  border-radius: 0;
  padding: 20px;
}

html body main section#portfolio article .extract h1 {
  width: 100%;
  margin-bottom: 1em;
  font-family: "Josefin Slab";
  font-size: 1.5rem;
}

html body main section#portfolio article .extract p {
  width: 75%;
  -ms-flex-item-align: start;
      align-self: flex-start;
  line-height: 1.5em;
}

html body main section#portfolio article .extract a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-right: 2em;
  gap: 0.6em;
}

html body main section#portfolio article .extract a img {
  height: 1.4rem;
}

html body main section#portfolio article .extract a span {
  font-size: 0.85rem;
}

html body main section#portfolio article:nth-child(even) {
  border-radius: 0 100px 50px 0;
  margin-right: 10px;
  margin-bottom: 10px;
}

html body main section#portfolio article:nth-child(odd) {
  border-radius: 100px 0px 0px 50px;
  margin-left: 10px;
  margin-bottom: 10px;
}

html body main section#portfolio a {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 1em 0 2em;
}

html body main section#services {
  background-color: #BF99FF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  padding-bottom: 70px;
  border-radius: 0 0 60px 60px;
}

html body main section#services > h1 {
  color: rgba(255, 255, 255, 0.2);
}

html body main section#services article {
  background-color: #fff;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html body main section#services article img {
  height: 40px;
  -webkit-transform: translateY(-35%);
          transform: translateY(-35%);
}

html body main section#services article h1 {
  padding: 10px 0 20px 0;
  font-size: 1.5rem;
  color: #FF5F1B;
}

html body main section#services article p {
  padding: 10px 20px 30px;
  font-size: 1rem;
  line-height: 1.5em;
  font-weight: 300;
}

html body main section#services article ul {
  padding-left: 20px;
  width: calc(100% - 40px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2em;
}

html body main section#services article ul li {
  line-height: 1.5em;
  color: #555;
}

html body main section#services article a {
  margin: auto 0px 3em;
}

html body main section#about {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: " head head " " img  img  " " info info " " prog prog " " butt butt ";
  gap: 40px;
  border-radius: 0 0 50px 50px;
  background-color: #FAF7FF;
  z-index: 5;
  position: relative;
  top: 50px;
  padding-bottom: 70px;
}

html body main section#about > h1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: head;
}

html body main section#about > img {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: img;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px;
  width: 100%;
  max-width: 400px;
}

html body main section#about article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  max-width: 400px;
}

html body main section#about article h1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: head;
  padding: 0 0 10px 10px;
}

html body main section#about article.info {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: info;
}

html body main section#about article.info p {
  background-color: #FFEDE7;
  border-radius: 30px;
  padding: 30px 10px;
  font-weight: 300;
  line-height: 1.6em;
}

html body main section#about article.info p span {
  opacity: 0.65;
  display: block;
  margin-top: 1em;
}

html body main section#about article.programs {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: prog;
}

html body main section#about article.programs ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #FFEDE7;
  padding: 20px 10px;
  border-radius: 20px;
  gap: 20px;
  overflow-x: auto;
  width: 100%;
}

html body main section#about article.programs ul img {
  display: inline-block;
  height: 50px;
}

html body main section#about article.certificates {
  grid-area: cert;
  display: none;
}

html body main section#about article.certificates .container {
  background-color: #876db2;
  border-radius: 30px;
  width: 100%;
  overflow-x: auto;
}

html body main section#about article.certificates .container::-webkit-scrollbar {
  width: 10px;
}

html body main section#about article.certificates .container ul {
  list-style-type: none;
  padding: 30px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
}

html body main section#about article.certificates .container ul li {
  height: 250px;
  border-radius: 10px;
}

html body main section#about article.certificates .container ul li a {
  height: 100%;
  width: 100%;
}

html body main section#about article.certificates .container ul li a img {
  -o-object-fit: cover;
     object-fit: cover;
}

html body main section#about a {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: butt;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 2em 0 4em;
}

html body main section#contact {
  background-color: #533781;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  position: relative;
  z-index: 4;
  padding-top: 50px;
  padding-bottom: 50px;
}

html body main section#contact > h1 {
  color: rgba(255, 255, 255, 0.1);
}

html body main section#contact article {
  color: white;
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 300px;
  border-left: 1px solid rgba(255, 255, 255, 0.07);
}

html body main section#contact article h1 {
  color: rgba(255, 255, 255, 0.25);
  font-size: 0.7rem;
  letter-spacing: 0.4em;
  font-variant: small-caps;
  font-weight: 500;
  padding-bottom: 0.3em;
  margin-bottom: 1em;
}

html body main section#contact article h1::before {
  content: "";
  background: -webkit-gradient(linear, left top, right top, from(salmon), to(transparent));
  background: linear-gradient(to right, salmon, transparent);
  opacity: 0.3;
  border-radius: 5000px;
  -webkit-transform: translate(0, 1.2em);
          transform: translate(0, 1.2em);
  width: 80px;
  height: 2px;
  display: block;
  position: absolute;
}

html body main section#contact article ul {
  list-style-type: none;
}

html body main section#contact article ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.6em;
}

html body main section#contact article ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.8em;
}

html body main section#contact article ul li img {
  width: 1.6em;
}

html body main section#contact article ul li span {
  color: #fff;
}

html body main section#contact article ul li span:not(.material-icons) {
  font-size: 0.8rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

html body main section#contact article ul li span div {
  display: inline-block;
  padding-right: 2px;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}

html body footer {
  background-color: #291051;
  width: 100%;
  height: clamp(200px, -webkit-max-content, 500px);
  height: clamp(200px, -moz-max-content, 500px);
  height: clamp(200px, max-content, 500px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html body footer button.thanks {
  background: transparent;
  font-family: "Josefin Slab", serif;
  color: #FEA47F;
  font-size: 1.2rem;
  -webkit-text-decoration: underline 1px;
          text-decoration: underline 1px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media screen and (min-width: 400px) {
  html {
    font-size: 16px;
  }
  html body main section#hero h1 {
    font-size: 3rem;
  }
  html body main section#portfolio article:nth-child(even) {
    margin-right: 20px;
    margin-bottom: 20px;
  }
  html body main section#portfolio article:nth-child(odd) {
    margin-left: 20px;
    margin-bottom: 20px;
  }
  html body main section#services article {
    width: 300px;
  }
  html body main section#about article.info h1 {
    padding-left: 1.6em;
  }
  html body main section#about article.info p {
    padding: 2em;
  }
  html body main section#about article.programs h1 {
    padding-left: 1.7em;
  }
  html body main section#about article.programs ul {
    padding-left: 2em;
  }
  html body main section#about article.certificates h1 {
    padding-left: 1.7em;
  }
  html body main section#about article.certificates ul {
    padding-left: 2em;
  }
}

@media screen and (min-width: 800px) and (orientation: landscape) {
  html body header {
    height: 50px;
  }
  html body header .logo h1 {
    font-size: 20px;
  }
  html body header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  html body main section#hero {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    justify-items: start;
    -ms-flex-line-pack: start;
        align-content: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    padding-top: 100px;
    -ms-grid-rows: (minmax(1fr))[3];
        grid-template-rows: repeat(3, minmax(1fr));
        grid-template-areas: "head head head img  img  img " "text text text img  img  img" "link link link img  img  img ";
  }
  html body main section#hero a {
    -ms-grid-column-align: start;
        justify-self: start;
    margin: unset;
  }
  html body main section#portfolio article {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: unset;
  }
  html body main section#portfolio article > h1 {
    width: 100%;
    text-align: center;
    display: none;
  }
  html body main section#portfolio article .info {
    display: none;
  }
  html body main section#portfolio article iframe {
    max-width: 45%;
    height: 80%;
  }
  html body main section#portfolio article .extract {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: static;
    top: unset;
    left: unset;
    max-width: 45%;
    height: 80%;
    border-radius: 100px;
  }
  html body main section#portfolio article:nth-child(even) {
    margin-right: 40px;
    margin-bottom: 40px;
    border-top-right-radius: 1000px;
    border-bottom-right-radius: 300px;
  }
  html body main section#portfolio article:nth-child(even) iframe {
    justify-self: flex-start;
  }
  html body main section#portfolio article:nth-child(even) .extract {
    border-top-right-radius: 1000px;
    border-bottom-right-radius: 300px;
  }
  html body main section#portfolio article:nth-child(odd) {
    margin-left: 40px;
    margin-bottom: 40px;
    border-top-left-radius: 1000px;
    border-bottom-left-radius: 300px;
  }
  html body main section#portfolio article:nth-child(odd) iframe {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  html body main section#portfolio article:nth-child(odd) .extract {
    border-top-left-radius: 1000px;
    border-bottom-left-radius: 300px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  html body main section#portfolio article:nth-child(odd) .extract h1 {
    text-align: end;
  }
  html body main section#portfolio article:nth-child(odd) .extract p {
    text-align: end;
  }
  html body main section#services {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  html body main section#services article {
    height: 450px;
  }
  html body main section#contact {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  html body main section#contact article {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  html body main section#about {
        grid-template-areas: " head head " " img  info " " prog prog " " cert cert ";
  }
  html body main section#about > img {
    height: 100%;
    -ms-grid-column-align: end;
        justify-self: end;
  }
  html body main section#about article.info {
    -ms-grid-column-align: start;
        justify-self: start;
  }
  html body main section#about article.programs, html body main section#about article.certificates {
    width: 840px;
    max-width: 100%;
  }
  html body main section#about article.certificates {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  html body main section#about > a {
    display: none;
  }
}

@media screen and (min-width: 1400px) {
  html body main section#hero {
    padding-top: 20vh;
  }
  html body main section#hero h1 {
    font-size: 4rem;
  }
  html body main section#hero svg {
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  html body main section#portfolio article:nth-child(even) {
    margin-right: 150px;
    margin-bottom: 150px;
  }
  html body main section#portfolio article:nth-child(odd) {
    margin-left: 150px;
    margin-bottom: 150px;
  }
  html body main section#about {
    gap: 50px;
  }
  html body main section#about > img {
    max-width: 500px;
  }
  html body main section#about article h1 {
    padding-left: 70px;
  }
  html body main section#about article.info {
    max-width: 500px;
  }
  html body main section#about article.programs, html body main section#about article.certificates {
    width: 1050px;
  }
}
/*# sourceMappingURL=index.css.map */