$bg: #FAF7FF;
$purple: #925EE6;
$header-border: hsla(263, 73%, 64%, 0.3);
$services-bg: #BF99FF;
$contact-bg: #533781;
$contact-article-bg: #291051;
$service-bg: #fff;
$salmon: #FEA47F;
$salmon-vivid: #FF5F1B;
$salmon-bg: #FF9266;
$salmon-border: #FEA47F;
$salmon-bg-light: #FFEDE7;